<style>
	.title {
		text-align: center;
		-webkit-background-clip: text;
		background-clip: text;
		background-image: url('../img/c37647d3cd724c0dc86a7db7627eaba5.jpg');
		color: transparent;
	}

	.title h3 {
		font-size: 4.5vw;
		font-weight: 700;
	}

	html,
	body {
		width: auto;
		height: auto;
	}

	body {
		background-image: url("../img/1853716.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
		animation: gradient 45s ease infinite;
	}

	.card {
		background-color: whitesmoke;
	}
</style>

<body>
	<div class="title">
		<h3 class="text">SUBMISSION</h3>
	</div>
	<hr style="border:3px solid lightgrey;width:65%;">
	<div class="row">
		<div class="col-md-8 mx-auto">
			<div class="card card-body">
				<form action="/content/addContent" method="post">
					<div class="form-group">
						<label class="font-italic">First Name</label>
						<input id="fname" type="text" class="form-control" name="fname" value="" required>
					</div>
					<div class="form-group">
						<label class="font-italic">Last Name</label>
						<input id="lname" type="text" class="form-control" name="lname" value="" required>
					</div>
					<div class="form-group">
						<label class="font-italic">Phone Number</label>
						<input id="phone" type="tel" name="phone" class="form-control" value="" required>
					</div>
					<div class="form-group">
						<label class="font-italic">Age</label>
						<input id="age" type="text" name="age" class="form-control" value="" required>
					</div>
					<div class="form-group">
						<label class="font-italic">Gender</label><br>
						<input type="radio" id="male" name="gender" value="Male" required>
						<label class="font-italic" for="male">Male</label><br>
						<input type="radio" id="female" name="gender" value="Female" required>
						<label class="font-italic" for="female">Female</label><br>
					</div>
					<div class="form-group">
						<label class="font-italic">Upload Submission</label>
						<br>
						<input type="file" id="sub" name="sub" accept="image/png,image/jpeg,image/jpg,image/gif"
							required>
						<br>
						<br>
						<img id="subpic" src="/img/tint1.jpg" alt="" class="border img-thumbnail img-fluid"
							style="height:20%;width:20%">
						<input id="subURL" type="hidden" name="subURL">
						<div class="font-weight-bold text-danger small" id="subErr" style="display:none"></div>
					</div>
					<div class="form-group">
						<label class="font-italic">Submission Name</label>
						<input id="sname" type="text" name="sname" class="form-control" value="" required>
					</div>
					<div class="form-group">
						<label class="font-italic">Date of Submission</label>
						<input id="datepicker" width="200" name="dateOfSub" readonly />
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>

<script>
	$('#datepicker').datepicker({
		value: new Date().toLocaleDateString(),
		uiLibrary: 'bootstrap4',
	});
</script>